.weather-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.five-days-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.five-days-item {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.forecast-date, .forecast-description {
    text-transform: capitalize;
    font-size: 1rem;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
    .five-days-list {
        flex-direction: column; 
        gap: 5px; 
    }
}